// Core
@import "./core/variable";
@import "./core/mixins";

@include min-media(751px) {
    .sp {
        display: none !important;
    }

    [href^="tel"] {
        pointer-events: none;
    }

    .no-scroll {
        overflow: hidden;
        -ms-touch-action: none;
        touch-action: none;
        -webkit-overflow-scrolling: auto;
    }

    //  ========================== Header ==========================
    .header-menu {
        // position: fixed;
        width: 100%;
    }

    .menu-list {
        //level 1
        > li {
            width: calc(100% / 5);
            cursor: pointer;
            &:hover {
                > a,
                > span {
                    color: #fef102;
                    background-color: rgba($color: #eb3207, $alpha: 0.8);
                    &::after {
                        border-color: #fef102;
                    }
                }
            }
            &::before {
                content: "";
                position: absolute;
                top: 0%;
                left: 0;
                width: 2px;
                height: 100%;
                background: #fff;
                opacity: 0.5;
                z-index: 1;
            }
            &:first-child {
                &::before {
                    display: none;
                }
            }
        }
    }

    .dropdown {
        &:hover {
            > .sub-menu {
                // transform: translateY(0);
                pointer-events: auto;
                @include visible;
                z-index: 1;
            }
        }

        > span {
            pointer-events: none;
            background-color: #eb3207;
            color: #fff;
            display: block;
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            position: relative;
            transition: all 0.3s ease;
            &::after {
                content: "";
                display: inline-block;
                margin-left: 10px;
                width: 6px;
                height: 6px;
                border: 0px solid #fff;
                border-width: 1px 1px 0 0;
                transform: rotate(135deg);
            }
        }
        &:first-child {
            .sub-menu {
                left: 0;
                transform: translate(0);
                min-width: 500px;
            }
        }
        &:last-child {
            .sub-menu {
                left: unset;
                right: 0;
                transform: translate(0);
                min-width: 500px;
            }
        }
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        left: 50%;
        min-width: 600px;
        background-color: #ac1f00;
        transition: all 0.3s ease;
        transform: translate(-50%, 0);
        pointer-events: none;
        @include hidden;
        box-shadow: 10px 10px 30px rgba($color: black, $alpha: 0.16);

        a,
        span {
            color: #fff;
            &:hover {
                color: $main-cl;
                background-color: #fef102;
            }
        }

        .sub-menu {
            top: 0;
            left: 100%;
        }
    }

    //  ========================== END - Headeer ==========================
}

/* end screen-min:751px */

@media screen and (min-width: 751px) and (max-width: 1919px) {
    #header {
        .logo {
            display: flex;
            align-items: center;
            img {
                width: 300px;
            }
        }
    }

    .header-info {
        margin-right: 10px;
    }

    .header-ih {
        margin-right: 10px;
        .ih-tt {
            font-size: 14px;
        }
        .ih-img {
            img {
                height: 68px;
            }
        }
    }

    .header-ln {
        width: 54px;
        height: 54px;
        margin-right: 10px;
    }

    .header-phone {
        .phone-lk {
            font-size: 24px;
            &::before {
                width: 32px;
                height: 32px;
            }
        }
        .phone-text {
            font-size: 12px;
        }
    }

    .header-social {
        column-gap: 5px;
        .social-lk {
            width: 34px;
            height: 34px;
        }
    }

    .header-btn {
        width: 400px;
        .hd-w {
            &::before {
                width: 32px;
                height: 32px;
            }
            &::after {
                width: 10px;
                height: 12px;
                right: 7px;
            }
        }
        .hbn-tt {
            font-size: 14px;
        }
        .hbn-c {
            width: 40px;
            height: 18px;
            font-size: 12px;
        }

        .hd-btn {
            height: 56px;
            &:nth-child(1) {
                height: 56px;
            }
            &:nth-child(3) {
                .hd-w {
                    &::after {
                        right: 7px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 751px) and (max-width: 1600px) {
}

/* end screen-min:751px && screen-max:1500px */

@include max-media(750px) {
    // ========================== Base code ==========================

    [href^="tel"] {
        &:hover {
            color: unset !important;
        }
    }

    #wrapper {
        min-width: unset !important;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }

    .pc {
        display: none !important;
    }

    .open-nav {
        .header-menu {
            top: 100px;
        }
    }

    .hamburger-btn {
        display: block;
    }

    // ========================== END Base code ==========================

    //  ========================== Header ==========================
    .header-ln,
    .header-phone,
    .header-social,
    .header-btn,
    .ih-tt {
        display: none;
    }
    #header {
        padding: 0 0;

        .logo {
            img {
                width: 200px;
            }
        }
    }
    .header-wrapper {
        padding: 0 15px 0 9px;
    }

    .header-main {
        align-items: center;
        height: 70px;
    }
    .header-info {
        margin: 0 20px 0 0;
    }
    .header-ih {
        margin: 0;
        .ih-img {
            line-height: 0;
        }

        img {
            height: 50px;
        }
    }
    .header-menu {
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        transition: all 0.3s ease;
        z-index: 99;
        background-color: rgba($color: #1e2c63, $alpha: 0.7);
        background-color: #fff;
    }

    .menu-list {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 100px);
        // @include custom-vertical-scrollbar(3px, $main-cl);

        // style chung
        // a {
        //     padding: 10px 20px;
        // }

        // level 1
        > li {
            > a,
            > span {
                border-bottom: 1px solid #ebebeb;
                font-size: 14px;
                font-weight: bold;
                color: #004680;
                padding: 10px 20px;
                width: 100%;
                display: block;
                position: relative;
            }
        }
    }

    .dropdown {
        .open {
            &::before {
                transform: scale(-1);
            }
        }

        span {
            &::before {
                content: "";
                border-top: solid 8px #1e2c63;
                border-left: solid 8px transparent;
                border-right: solid 8px transparent;
                position: absolute;
                right: 15px;
                top: calc(50% - 4px);
                transition: all 0.3s;
            }
        }
    }

    .sub-menu {
        position: relative;
        top: 0;
        left: 0;
        display: none;
        padding: 10px 20px;

        a,
        span {
            padding: 6px 16px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 10px;
                height: 1px;
                background-color: #004680;
            }
        }

        // .sub-menu a {
        //     padding-left: 30px;
        // }

        // .sub-menu .sub-menu a {
        //     padding-left: 40px;
        // }
    }
    //  ========================== END - Header ==========================
}

/* end screen-max:750px */

@include max-media(640px) {
}

/* end screen-max:640px */

@include max-media(560px) {
}

/* end screen-max:560px */

@include max-media(520px) {
}

/* end screen-max:520px */

@include max-media(475px) {
    #header {
        .logo {
            img {
                width: 160px;
            }
        }
    }
    .header-info {
        margin-right: 10px;
    }
    .header-ih {
        img {
            height: 46px;
        }
    }
}

/* end screen-max:475px */

@include max-media(425px) {
}

/* end screen-max:425px */

@include max-media(375px) {
}

/* end screen-max:375px */

@include max-media(320px) {
    .header-ih img {
        display: none;
    }
}

/* end screen-max:320px */

/*============================= HACK CSS =============================*/

/* IE */
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

/* EGDE */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
    // @media {
    // }
}
